@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@400;600;700;900&display=swap');


/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Titillium Web", sans-serif;
}

body {
    background-color: #f2f2f2;
    /* height: 3000px; */
    overflow-x: hidden;
}

.scroller-tracker {
    position: fixed;
    inset: auto 0 0;
    width: 100%;
    height: 0.5rem;
    background-color: slategray;
    z-index: 1999;
    transform-origin: left;
}

/* Primary Header */
.primary-header {
    position: absolute;
    top: 10px;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2999;
}

.primary-navigation a {
    color: #000;
}

.primary-navigation.side-bar a {
    color: #fff;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    padding: 1rem;
    z-index: -200;
}


/* Sidebar */

.side-bar {
    --gap: 2em;
    flex-direction: column;
    position: fixed;
    padding: min(30vh, 7rem) 3rem;
    background-color: #000;
    transform: translateX(100%);
    inset: 0 0 0 50%;
    z-index: 899;
}


.side-bar.show {
    transform: translateX(0);
}

/* Navigation Button */

.nav-custom {
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 0;
    outline: none !important;
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1;
    top: 0.5rem;
    right: 1rem;
    z-index: 999;
    background-color: #000;
}

.icon .line {
    background-color: #ffffff;
    height: 4px;
    width: 30px;
    border-radius: 5px;
    position: absolute; 
    transition: transform 0.8s ease;   
}

.icon .line1 {
    top: 30px;
}

.icon .line2 {
    bottom: 30px;
}

.nav-custom.active .line1 {
    transform: rotate(-765deg) translateX(-12px);
}
    
.nav-custom.active .line2 {
    transform: rotate(765deg) translateX(-10px);
}

.nav-border {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 5rem;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* Landing */

.landing {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.description {
    /* margin-top: 20px; */
    min-width: 50vw;
    font-size: min(4vw, 40px);
    text-align: left;
    /* border: 2px solid lime; */
    padding-left: 9vw;
}


.description h1 {
    text-transform: uppercase;
    font-size: min(5vw, 50px);
    font-weight: 900;
    /* margin-top: 0.5em; */
}

.dynamic-text {
    min-width: max-content;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: min(10vw, 100px);
    font-weight: 900;
}

.typed-cursor {
    font-size: min(11vw, 120px);
}

.tech-stack img {
    width: 100px;
    aspect-ratio: 1;
    object-fit: contain;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.scroller {
    overflow: hidden;
    max-width: 100%;
    -webkit-mask: linear-gradient(90deg, transparent, #f2f2f2 10%, #f2f2f2 90%, transparent);
    mask: linear-gradient(90deg, transparent, #f2f2f2 20%, #f2f2f2 80%, transparent);
}

.scroller .scroller-inner {
    width: max-content;
    gap: 2em;
/* overflow: scroll */
    animation: scroll 30s linear infinite;
}

@keyframes scroll {

    0% {
        transform: translate(0%);
    }

    25% {
        transform: translate(-25%);
    }

    50% {
        transform: translate(-50%);
    }
    
}

.description button {
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #545353;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
}

.description button a {
    text-decoration: none;
    color: #fff;
}

.photo {
    /* border: 10px solid saddlebrown; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
}

.photo img {
    max-width: 100%;
}

.photo > *:not(.self) {
    position: absolute;
}

.photo .bg {
    /* border: 2px solid green; */
    z-index: -100;
    animation: animateBg 4s linear infinite;
}

@keyframes animateBg {
    0% {
        top: 60px;
    }

    50% {
        top: 80px;
    }

    100% {
        top: 60px;
    }
}

/* .photo .self {
    border: 2px solid blue;
    max-width: revert;
    animation: animateUser 4s linear infinite;
} */

/* @keyframes animateUser {
    0% {
        right: 0;
        top: 0;
    }

    50% {
        right: 20px;
        top: -10px;
    }

    100% {
        right: 0px;
        top: 0;
    }
} */


/* About Me */

.about-me {
    position: relative;
    max-width: 95%;
    margin: 5px 10vw; /*auto*/
    padding-bottom: 30px;
    overflow: hidden;
}

.about-me .worktext {
    margin: 0 auto 50px;
    padding: 20px;
    border-radius: 20px;
    width: max-content;
    text-transform: uppercase;
    font-size: min(4vw, 40px);
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.progress {
    position: absolute;
    width: 6px;
    height: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 150px;
    left: 50%;
    margin: 5px;
    z-index: -1;
    transition: 0.4s ease;
    overflow: hidden;
    /* animation: moveline 6s linear forwards; */
}

@keyframes moveline {

    0% {
        height: 0;
    }

    100% {
        height: 80%;
    }
    
}

.text-container {
    margin: 10px;
    padding: 10px 60px;
    position: relative;
    width: 50%;
    transform: translateX(400%);
    transition: transform 0.4s ease;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* animation: movedown 1s linear forwards; */
    /* opacity: 0; */
}

.text-container:nth-of-type(even){
    transform: translateX(-400%);
}

.text-container.show {
    transform: translateX(0);
}

/* @keyframes movedown {

    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.text-container:nth-child(2) {
    animation-delay: 1s;
}
.text-container:nth-child(3) {
    animation-delay: 2s;
}
.text-containe`:nth-child(4) {
    animation-delay: 3s;
}
.text-container:nth-child(5) {
    animation-delay: 4s;
} */


.textbox {
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
    border-radius: 10px;
    font-size: min(4vw, 20px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-me .right {
    left: 50%;
}

.text-container img {
    position: absolute;
    top: 32px;
    right: -40px;
    width: 80px;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: 0 40px 15px -15px rgba(0, 0, 0, 0.2), inset 0 -50px 20px -20px rgba(0, 0, 0, 0.2);
}

.right img {
    left: -40px;
}

.textbox .left-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 45px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

.textbox .right-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 45px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

/* Project Section */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vw;
}

.projects h1 {
    margin: 0 auto 50px;
    padding: 20px;
    border-radius: 20px;
    width: max-content;
    text-transform: uppercase;
    font-size: min(4vw, 40px);
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.project-container {
    display: flex;
    width: 60vw;
    height: max-content;
    justify-content: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 50px;
    gap: 3rem;
}

.project-image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200rem;
    height: 30rem;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-image a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.project-image a img {
    position: absolute;
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transform: translateY(0%);
    transition: transform 8s ease-out;
}

.project-image a img:hover {
    transform: translateY(-60%);
}
  
.project-description {
    color: #767676;
    font-size: min(20px, 1.7rem);
    font-weight: 600;
    text-align: center;
    text-transform: none;
}

.used-stacks {
    margin: 50px;
}

.used-stacks span {
    padding: 10px;
    border-radius: 5px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-description small {
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: min(20px, 1.7rem);
    font-weight: 900;
    gap: .2rem;
    justify-content: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Form Section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.contact-container {
    justify-content: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 50px;
}

.form-heading {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    transition: opacity 0.3s;
  }

.contact-form {
    text-align: center;
}

.contact-form-input {
    width: 25vw;
    padding: 0.5rem;
    /* margin: 5px 0; */
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid #aaa;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.1rem;
    height: 3rem;
}

.contact-form-textarea {
    height: 15rem;
    resize: none;
}

.form-submit-btn {
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #545353;
    text-transform: uppercase;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.45);
    border: none;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

/* Form Validation */
.message {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f55e5e;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0 auto 1rem 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.error.message {
    visibility: visible;
    opacity: 1;
}


/* Utility Classes */

.flex {
    display: flex;
    /* border: 2px solid orangered; */
    gap: var(--gap, 1rem);
}

/* .content-grid > * {
    border: 2px solid orangered;
} */

/* Responsive */

@media (min-width: 1200px) {
    
.content-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

}

@media screen and (max-width: 1200px) {
    
    .about-me {
        margin: 50px auto;
    }

    .progress {
        left: 32px;
    }

    .text-container {
        width: 100%;
        padding-left: 100px;
        padding-right: 30px;
    }

    .about-me .right {
        left: 0;
    }

    .textbox .right-arrow {
        left: -15px;
        transform: rotate(180deg);
    }

    .right img, .left img {
        left: -10px;
    }

    .project-container {
        flex-direction: column;
        width: 100vw;
        height: max-content;
        justify-content: center;
        background-color: transparent;
        box-shadow: none; 
    }

    .project-image {
        width: 80vw;
    }

    .contact-form-input {
        width: 70vw;
        font-size: 1rem;
    }
}